body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
    width: 100%;

}

.constant {
    width: 100%;
    padding-left: 70px;
    padding-right: 20px;
}

.constant h1 {
    font-size: 50px;
}

.constant h2 {
    font-size: 37px;
}

.constant h5 {
    font-size: 17px;
}

.constant p {
    font-size: 22px;
    text-align: justify;
}



.constant img {
    width: 70%;
}

.peter-color {
    color: orange;
}

.top-banner {
    background-image: url(../Images/top-banner.png);
    background-repeat: no-repeat;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}


.link-button2 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 70px;
    border-radius: 5px;
}



.dream-big {
    background-image: url(../Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(../Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-area h1 {
    font-size: 50px;
}


.experience-item {
    box-shadow: 10px 10px 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    /* border-radius: 5%; */

}

.experience-item h1 {
    font-size: 40px;
}

#full-stack-ex {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#web-dev-ex {
    border-right: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer {
    text-align: center;
}